form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

label{
  margin-top:10px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label>p {
    font-size: 1.3em;
    max-width: 100%;
    font-weight: 700;
    font-family: 	Tahoma, Geneva, sans-serif;
}

input {
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 1.3em;
  font-family: 	Tahoma, Geneva, sans-serif;
  
}

textarea {
  width: 70%;
  border-radius: 10px;
  font-size: 1em;
  font-family: 	Tahoma, Geneva, sans-serif;
}

button {
  margin-top: 10px;
  border: solid;
  border-width: .5em;
  border-top-color: rgb(var(--border-accent));
  border-left-color: rgb(var(--border-accent));
  border-bottom-color: rgb(var(--border));
  border-Right-color: rgb(var(--border));
  border-radius: 10vmin;
  width: 10em;
  height: 3em;
  font-size: 1em;
  max-width: 100%;
  font-weight: 700;
  font-family: 	Tahoma, Geneva, sans-serif;
  background-color: rgb(var(--accent));
}

.contact>p {
  text-align: center;
  font-size: 1.6em;
  font-family: 	Tahoma, Geneva, sans-serif;
  font-weight: 700;
}