/*--Color Definitions*/
:root{
  --background: 44, 53, 49;
  --background-accent: 17, 100, 102;
  --border: 217, 176, 140;
  --border-accent: 245, 223, 184;
  --accent: 209, 232, 226;
}

html,
body {
  background-color: rgb(var(--background));
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 0;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  margin: 0;

}

#personal-info, .contact {
  margin: 0;
  position: absolute;
  width: 50%;
  height: 50%;
  left:25%;
  top: 30%;
  background: rgba(var(--background-accent), 0.7);
  border: solid;
  border-width: .5em;
  border-top-color: rgb(var(--border-accent));
  border-left-color: rgb(var(--border-accent));
  border-bottom-color: rgb(var(--border));
  border-Right-color: rgb(var(--border));
  border-top-left-radius: 10vmin;
  border-bottom-right-radius: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#personal-info>p {
  font-size: 2em;
  max-width: 100%;
  font-weight: 700;
  font-family: 	Tahoma, Geneva, sans-serif;
  overflow: hidden;
  margin-bottom: -1em;
}

img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  border-radius: 50% 0 50% 50%;
  object-fit: contain;
}

#nav {
  position: absolute;
  top:0;
  width:100%;
  height:15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav>a {
  height: 65%;
  width: 6em;
  margin-left: 1%;
  background: rgba(var(--background), 0.2);
  border: solid;
  border-color: rgba(var(--background-accent), 0);
  border-width: .5em;
  font-size: 1.8em;
  color: rgb(var(--background-accent));
  max-width: 100%;
  font-weight: 700;
  display: inline-block;
  position: relative;
  outline:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none ;
}


#nav>a:after, #nav>a:before {
  content: "";
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  width: 10px;
  height: 10px;
  position: absolute;
  transition: all 1s;
}
#nav>a:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid rgb(var(--border));
  border-left: 5px solid rgb(var(--border));
}
#nav>a:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid  rgb(var(--border-accent));
  border-right: 5px solid rgb(var(--border-accent));
}
#nav>a:hover {
  transition: all 1s;
  color: rgb(var(--accent));
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#nav>a:hover:before, #nav>a:hover:after {
  width: 100%;
  height: 100%;
}

#nav>a.current, #nav>a.current:focus{
  color: rgb(var(--accent));
  
}
#nav>a.current:before, #nav>a.current:after {
  width: 100%;
  height: 100%;
}