html,body{
    width:95%;
    padding-left: 1em;
    padding-top: .1em;
    background-color: rgb(var(--accent));
    
  border-radius: 1em;
}

body>* {
  font-weight: 500;
  font-family: 	Tahoma, Geneva, sans-serif;
  width: 100%;
}

h1{
    font-weight: bold;
}

p{
    overflow: hidden;
}

li {
    display: list-item;
    list-style: disc;
    margin-left: 2em;
}