#resume {
  position: absolute;
  top: 15%;
  width: 90%;
  height: 84%;
  left: 5%;
}

.content {
  height: 0;
  transition: all 1s;
}

.container{
  margin-bottom: .5em;
}

.label {
  width: 100%;
  height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  --color: var(--background-accent);
  --color-2: var(--accent);
  cursor: pointer;
}

.label:hover {
  --color: var(--accent);
  --color-2: var(--background-accent);
}

.point-outer{
  width: .9em;
  height: .9em;
  border-width: .1em;
  border:solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: rgb(var(--color));
  transition: all 1s;
}

.point-inner{
  width: 0em;
  height: 0em;
  border:.1em solid rgb(var(--color-2));
  border-radius: 50%;
  display: inline-block;
  transition: all 1s;
}

h1{
  margin-left: 1em;
  margin-right: -10em;
  width: 5em;
  color: rgb(var(--color));
  font-weight: 700;
  font-family: 	Tahoma, Geneva, sans-serif;
  transition: all 1s;
}

hr {
  width: 20em;
  border: 3px solid rgb(var(--color));
  border-radius: 10px;
  transition: all 1s;
}

iframe {
  width:80%;
  height: 100%;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: 1em;
}