<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/nickelos.css">
<link rel="stylesheet" type="text/css" href="css/resume-inner.css">
<body>
    <br>
    <p>
        I am a Software Engineer, who is seeking a development position that will allow me to express myself creatively, 
        capitalize on my interpersonal, organizational, and analytical skills, while allowing me to see a project through to the end. 
        Good with managing multiple tasks in a fast-paced team environment as well as as individually. 
    </p>
    <br>
    <h1>Education:</h1>
    <p>
        MS, Computer Science, George Mason University, Fairfax VA, projected 2025
        <br>
        BS, Computer Science, George Mason University, Fairfax VA, 2018
    </p>
</body>