<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/nickelos.css">
<link rel="stylesheet" type="text/css" href="css/resume-inner.css">
<body>
    <h1>Java/C++ Software Engineer</h1>
    <p>General Dyamics Mission Systems</p>
    <h1>June 2020 - Present</h1>
    <ul>
        <li>Develop in Both C++ and Java Various components of a large Project</li>
        <li>Adhere to strict coding standards</li>
        <li>Test mission critical software to ensure compliance with government specifications</li>
        <li>Follow an Agile workflow while working in both a small and large teams of developers</li>
        <li>Report and manage tasking using Jira and Bitbucket</li>
    </ul>
    <br>
    <h1>Java/C++ Software Engineer</h1>
    <p>Aerotek Engineering (Subcontractor for General Dynamics)</p>
    <h1>May 2019 - Jun 2020</h1>
    <ul>
        <li>Develop in Both C++ and Java Various components of a large Project</li>
        <li>Adhere to strict coding standards</li>
        <li>Test mission critical software to ensure compliance with government specifications</li>
        <li>Follow an Agile workflow while working in both a small and large teams of developers</li>
        <li>Report and manage tasking using Jira and Bitbucket</li>
    </ul>
    <br>
    <h1>Graduate Teaching Assistant</h1>
    <p>George Mason University</p>
    <h1>January 2019 - May 2019</h1>
    <ul>
        <li>Assist students in Computer Science 465 (Computer System Architecture)</li>
        <li>Review and revise student programming projects, (logical and syntactical errors).</li>
    </ul>
</body>