<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/nickelos.css">
<link rel="stylesheet" type="text/css" href="css/resume-inner.css">
<body>
    <ul>
        <li>Proficient in front end development: React, Javascript, CSS, HTML</li>
        <li>Proficient in Backend Technologies:  Java, C/C++, C#, Assembly (Mips/Arm)</li>
        <li>Experienced with the agile software development practices</li>
        <li>Experienced In both consuming and designing RESTful APIs</li>
        <li>Familiar with agile development practices</li>
        <li>Proficient with database architecture NoSQL and SQL</li>
        <li>Proficient in the following Operating Systems: Windows, Mac OSX, and Linux based Distros</li>
        <li>Great communication and customer service skills</li>
        <li>Knowledgeable on UML and Mockup design</li>
        <li>Experienced with Unix/Linux automation maintenance and configuration</li>
        <li>Knowledge with development tools such as Git and Continuous integration/testing</li>
        <li>Able to react to user feedback and implement changes to fit that feedback</li>
        
    </ul>
</body>